h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.aligne-box {
	padding-top: 2%;
	text-align: center;
}

.soute {
	padding-top: 3%;
	text-align: center;
	padding-bottom: 1%;
}

.centre {
	padding-top: 2%;
	text-align: center;
} 

.adjust {
	width: 100%;
	padding-top: 3%;
	padding-bottom: 0%;
	text-align: center;
}

.adjust label {
	padding-right: 0.5%;
	padding-left: 2%;

}

.centre {
	text-align: center;
}

.titre-soute {
	width: 50%;
	float: left;
}

.titre {
	float: right;
}

.resultat-aff {
	text-align: center;font-size:  
	width: 100%;
}

#resultat {
	font-size: 20px; 
}